<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxg.mapper.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.lxg.model.SysRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>

  <select id="findRoleByUser" resultType="com.lxg.model.SysRole" parameterType="com.lxg.model.SysUser">
    SELECT
      r.id as id,
      r.name as name
    FROM
      sys_user u
    LEFT JOIN sys_user_role ur ON u.id = ur.user_id
    LEFT JOIN sys_role r ON r.id = ur.role_id
    <where>
      1 = 1
      <if test="username != null and username != '' ">
        AND u.username LIKE CONCAT('%',#{username},'%')
      </if>
    </where>
  </select>

</mapper>
